body {
    background-image: url('assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
  }
  
  .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 5%;
    height: 250px;
    max-width: 250px;
  
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
  }
  
  .profile-name {
    text-align: center;
    padding: 30px;
    font-size: 28px;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgb(45, 45, 45);
    border-width: 2px;
    padding: 20px;
    background-color: rgb(132, 132, 132);
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 1s;
    }
  
  a:hover {
    color: black;
  }
  
  button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 1s;
    }
  
  button:hover {
    color: black;
  }

/* Add a black background color to the top navigation */
.topnav {
  padding: 20px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #ffffff;
  float: center;
  color: #000000;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5370f5;
  color: white;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4963d8;
  color: #000000;
  font-weight: bold;

}

